/* App.css */

.app {
  display: flex;
}

.menu-button {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #003c71;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1000; /* Make sure it appears above the sidebar */
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #003c71;
  color: #ffffff;
  overflow-x: hidden;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  margin: 20px 0;
}

.sidebar-nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar-nav a:hover {
  background-color: #005b99;
}

.main-content {
  margin-left: 0;
  padding: 20px;
  flex: 1;
  transition: margin-left 0.3s ease;
}

.main-content.shifted {

}
